<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xiaoliang.ltool">

    <!-- Normal Permissions 不需要运行时注册 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 二维码 -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 手电筒 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 添加桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".activity.LToolApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ad90d9a285507b7be97a91a7883a39ca" />
        <meta-data
            android:name="xiaoliang.ltool.bean.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- 快捷方式的action，通过快捷方式的action可以应用内调用 -->
                <action android:name="android.intent.action.SHORTCUT" />
                <!-- 必须加上这个，否则无法直接使用自定的action -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QRCreateActivity"
            android:label="@string/title_activity_qrcreate"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- 快捷方式的action，通过快捷方式的action可以应用内调用 -->
                <action android:name="android.intent.action.SHORTCUT" />
                <!-- 必须加上这个，否则无法直接使用自定的action -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QRReadActivity"
            android:label="@string/title_activity_qrread"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- 快捷方式的action，通过快捷方式的action可以应用内调用 -->
                <action android:name="android.intent.action.SHORTCUT" />
                <!-- 必须加上这个，否则无法直接使用自定的action -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MeizhiActivity"
            android:label="@string/title_activity_meizhi"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- 快捷方式的action，通过快捷方式的action可以应用内调用 -->
                <action android:name="android.intent.action.SHORTCUT" />
                <!-- 必须加上这个，否则无法直接使用自定的action -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MeizhiDetailedActivity"
            android:label="@string/title_activity_meizhi_detailed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MeizhiListActivity"
            android:label="@string/title_activity_meizhi_list"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CreateLockActivity"
            android:label="@string/title_activity_create_lock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LockActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- 快捷方式的action，通过快捷方式的action可以应用内调用 -->
                <action android:name="android.intent.action.SHORTCUT" />
                <!-- 必须加上这个，否则无法直接使用自定的action -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".listener.AdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.HealthActivity"
            android:label="@string/title_activity_health"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>